!!! 5
html
  head
    title chronopti.com : #{title}
    link(rel='stylesheet', href='/styles/reset.css')
    link(rel='stylesheet', href='/styles/main.css')
    block styles
    block scripts
  body
    header
      a(href='/').sitename chronopti.com
    div.content
      block content
  footer