extends layout

block styles
  link(rel='stylesheet', href='/styles/test.css')

block scripts
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
  script(type="text/javascript", src="scripts/test.js")

block content
  .canvas
