.header {
  font-size: 200px;
  text-align: center;
  -webkit-transition: all 0.8s ease;
}
.font1 {
  font-family: Almendra;
  font-style: italic;
  font-weight: bold;
}
.font2 {
  font-family: Alegreya SC;
  font-style: normal;
  font-weight: normal;
}
.tasteful {
  text-shadow: 3px 4px 6px rgba(0,0,0,0.4);
  -webkit-text-stroke: 1.5px #ddb;
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(255,255,255,0), #000, rgba(0,0,0,0.5));
}
.shifted {
  text-shadow: 4px 4px 0 #46c;
  background: -webkit-linear-gradient(top, #c8c8c8, rgba(0,0,0,0.5));
  -webkit-text-stroke: 1.5px #ccc;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-clip: text, border;
}
